<div id="<%= dom_id event %>" class="event-listing">
  <h2><%= event.title %></h2>
  <p><%= event.description %></p>
    <p><b>Event Type: </b><%=event.event_type%>
  </p>

    <%= link_to "Show this event", event %>
    
</div>
