<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>





   <div class="form-group">

    <%= form.file_field :image %>

    <% if @event.image? %>

      <%= image_tag @event.image.url, class: "event-show" %>

      <%= form.check_box :remove_image %>

        Remove Image

    <% end %> 





 </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :event_type, style: "display: block" %>
    <%= form.text_field :event_type %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :event_time, style: "display: block" %>
    <%= form.datetime_field :event_time %>
  </div>

  <div>
    <%= form.label :location_description, style: "display: block" %>
    <%= form.text_field :location_description %>
  </div>

  <div>
    <%= form.label :street, style: "display: block" %>
    <%= form.text_field :street %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.text_field :zip %>
  </div>




  <div>
    <%= form.submit %>
  </div>
<% end %>
