<h1>Events</h1>

<div id="events">
<div class="row"> 
  <% @events.each do |event| %>
   <div class="col-md-3"> 
      <div class="recipe-card mb-4">
    	<div id="<%= dom_id event %>">
  		<h2>
    		<%= event.title %>
  		</h2>
 		<p>
   		<strong>Location:</strong>
    		<%= event.location_description %>
 		</p>

		 <p>
		   <strong>Date and Time:</strong>
		   <%= event.event_time %>
		 </p>

</div>
    	<p>
      		<%= link_to "Show this event", event %>
    	</p>
    </div>
    </div>
  	<% end %>
</div>

<div id= "events" class= "link-primary"><%= link_to "New event", new_event_path %>
</div>