<!DOCTYPE html>
<html>
  <head>

    <title>Gatherapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">gather</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <!--- <a class="nav-link" href="http://localhost:3000/pages/campus_events">Campus Events<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/pages/community_events#">Community Events</a>
      --->
      <%= link_to 'Campus Events', pages_campus_events_path, :class => 'navbar-link' %>
  <%= link_to 'Community Events', pages_community_events_path, :class => 'navbar-link' %>

      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
 <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>  
      <% else %>
       <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
       <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
    <% end %>

    </form>
  </div>
</nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
